@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">



</head>
<body class="user-layout">
    <div class="d-flex">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            @await Html.PartialAsync("_LoginPartial")
        </div>

        <!-- Main Content -->
        <div class="content flex-grow-1">
            <nav class="navbar navbar-expand-lg bg-transparent px-5">
                <div class="container-fluid">
                    



                </div>
            </nav>

            <div class="d-flex justify-content-center align-items-center ">
                <div class="container mx-xxl-5">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("toggleSidebar").addEventListener("click", function () {
            let sidebar = document.getElementById("sidebar");
            let content = document.querySelector(".content");
            sidebar.classList.toggle("collapsed");
            content.classList.toggle("collapsed");
        });
    </script>
</body>
</html>
