<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeOwners_CasaMira_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        html{
            height: 100%;
        }
        .container{
            height: 100vh;
        }
    </style>
</head>
<body class="d-flex flex-column">
   
    <div>
        <header class="position-absolute top-0 end-0 m-3">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 ">
                <div class="container-fluid">
                    @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HomeOwners_CasaMira_Web</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                     

                        <ul class="navbar-nav flex-grow-1">
                         
						    <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container d-flex justify-content-center align-items-center flex-grow-1 mt-3 ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="cont w-full h-75" style="background: linear-gradient(to right, #B6A28E, #ffff); ">
        <<div class="container text-center">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="row pb-5" style="padding-top: 100px;">
                        <img class="w-75" src="../css/images/casamira2.png" />
                    </div>
                    <div class="row">
                        <img class="w-75" src="../css/images/casamira.jpg" />
                    </div>
                </div>
                <div class="col">
                    <div class="row" style="padding-top: 260px;">
                        <h1 style="font-size: 3rem;" class="pb-3 text-primary">Welcome to Casamira</h1>
                        <p style="font-size: 1.3rem;">Our goal is to provide affordable housing for every Filipino. Alongside this, we continuously develop and explore programs and innovations that best serve our buyers and homeowners. (NOT FINAL DESIGN)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
