@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> SignInManager;

	<ul class="navbar-nav ms-auto">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item ms-auto">
			<a class="nav-link" asp-controller="Account" asp-action ="Logout">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item fe-3">
			<a class="nav-link btn btn-primary btn-primary p-2 text-white" asp-controller="Account" asp-action="Login">LOGIN</a>
		</li>

		

	}
	</ul>
