/* Background image for UserLayout */
.user-layout {
    background: url('../css/images/bg.png') no-repeat center center fixed; background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidebar {
    background-color: #947860;
    color: white; /* Ensures text is readable */
    height: 100vh; /* Full height */
    width: 250px; /* Adjust width as needed */
    top: 0;
    left: 0;
    padding: 20px;
}

.user-image {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Ensures the image fills the circle */
    border-radius: 50%; /* Makes it perfectly circular */
    border: 2px solid #fff; /* Optional: Adds a white border */
}
