@model HomeOwners_CasaMira_Web.Models.Announcement

<div class="details-card text-center " id="announcementDetails">
<h3 class="fw-bold">@Model.Title</h3>
<p class="text-muted">@Model.Content</p>
<small class="text-muted">Posted on: @Model.DatePosted.ToString("MMMM dd, yyyy")</small>
</div>
