@using HomeOwners_CasaMira_Web.ViewModels
@model LoginViewModel;


@{
	ViewData["Title"] = "Login";
	Layout = "/Views/Shared/_AccountLayout.cshtml";

}
<div class="account-container">

	
	<div class="account-box">
		<h2 class="text-center pb-2">LOGIN</h2>
		<form asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<input asp-for-"Email" type="email" class="form-control border" placeholder="Enter your email">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for-"Password" type="Password" class="form-control" placeholder="Enter your password">
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="float-end">
				<a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">Forgot Password?</a>
			</div>

			<div class="form-check mb-3">
				<input asp-for="RememberMe" class="form-check-input" id="rememberMe">
				<label class="form-check-label" for="rememberMe">
					@Html.DisplayNameFor(m => m.RememberMe)
				</label>
			</div>

			<input type="submit" value="Login" class="btn btn-primary btn-primary w-100 p-2"/>
			<p class="ml-1 mt-2">Dont have an account?
				<a asp-controller="Account" asp-action="Register" class="text-decoration-none mt-3">Sign up</a>
			</p>
			<div class="text-center" >
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}

}
