@{
    ViewData["Title"] = "Communications Page";
}

<div class="text-white text-center">
    <p class="display-4 fs-1  mb-0 lh-1">WELCOME TO</p>
    <h1 class="mb-0 lh-1" style="font-size: 8rem;">Rules and Regulations</h1>



</div>
