@{
    ViewData["Title"] = "Home Page";
}

<div class="text-white">
    <p class="display-4 fs-1 text-center mb-0 lh-1">WELCOME TO</p>
    <h1 class="mb-0 lh-1 text-center " style="font-size: 8rem;">Casa Mira</h1>
    <p class="mt-0 text-center lh-1" style="font-size: 2rem;">Home Owners</p>
</div>