@{
	ViewData["Title"] = "Community Page";
}

<div class="text-white">
    <p class="display-4 fs-1 text-center mb-0 lh-1">WELCOME TO</p>
    <h1 class="mb-0 lh-1" style="font-size: 8rem;">Ameneties</h1>



</div>
